* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightpink;
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
}
header {
  text-align: center;
  background-color: #333;
  color: rebeccapurple;
  padding: 50px;
}
header h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
header p {
  font-size: 22px;
}
main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  /* min-height: calc(100vh - 211px - 58px); */
}
article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
article:last-child {
  margin-bottom: 0;
}
article h3 {
  margin: 10px 0 25px 0;
}
article p {
  margin-top: 16px;
  line-height: 24px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;

}
footer {
  text-align: center;
  background-color: #333;
  color: rebeccapurple;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}

@media(max-width:768px) {
  header { padding: 30px 20px; }
  header h1 { font-size: 36px; margin-bottom: 22px; }
  header p { font-size: 18px; }
  main { width: 100vw; padding: 20px; }
  article { margin-bottom: 16px; font-size: 14px; }
  article h3 { margin: 10px 0 20px 0; }
  article p { margin-top: 16px; line-height: 20px; }
}