body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
.login {
	color:rgba(100,100,102,255);
	text-align: center;
	padding-bottom:10px;
	padding-top:10px;
	font-size: 15px;
}
.container{
	width: 100%;
	height: 250vh;
	background-image: url(xixi.jfif);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card{
	width: 25%;
	max-height: 1500px;
	color: rgba(100,100,102,255);
	text-align: center;
	padding: 50px 35 px;
	border: 2px solid rgba(100, 100, 100, 0.3);
	background : rgba(225, 225, 225, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop- filter: blur(5px);
}
.card img{
	width: 200px;
	border-radius: 50%;
}
.card h2{
	font-size: 40px;
	font-weight: 200;
	margin-top: 50px;
}
.card p{
	font-family: Book Antiaqua;
	font-size: 18px;
	margin: 10px auto;
	max-height: 330px;
}

.card .links img{
	width: 40px;
	border-radius: 50%;
	margin: 10px 5px;
	transition: bacground 0.5s;
}

.card .liks img:hover{
	background: #ff01cf;
}
.btn{
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	background: rgba(255,229,224,255);
	color: #1d0e15;
	padding: 10px 30 px;
	border-radius: 30px;
	margin: 30px 0 10px;
}

.login2 {
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: #beafbf;
  border-radius: 3px;
}
 
label {
  font-size: 10pt;
  color: #555;
}
 
input[type="text"],
input[type="email"],
textarea {
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: #58658c;
  color: #fff;
  border: 0;
  padding: 5px 8px;
}