body{
	background-color: #dddddd;
	font-family: DejaVu Sans;
}
#content{
	margin:auto;
	width: 950px;
}
#header{
	width: 100%
	float: left;
	height: 300px;
	background: url(xixi.jfif);
}
#lia{
	width: 70%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: aliceblue;
}
.isibio {
	width: 50%;
	height: 275px;
	margin-bottom: 5px;
	padding: 5px;
}
.image {
	height: 120%;
	width: 80%;
	margin-left: 50px;
	margin-top: 15px;
}
.isibio p {
	width: 120%;
	text-align: justify;
	float: left;
	font-size: 14px;
	color: black;
	margin-top: 20px;
	margin-left: 50px;
}
.isibio h1 {
	font-size: 18px;
	font-weight: bold;
	color: black;
	margin-top: 80px;
	margin-bottom: 3px;
	margin-left: 50px;
}
#footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #333333;
}
.dalamfooter {
	color: white;
	text-align: center;
	font-size: 11px;
	margin-top: 13px;
}
.dalamfooter a {
	color: rgb(210, 88, 0);
	text-decoration: none;
}
#menu{
	width: 100%;
	height: 60px;
	float: left;
	background-color: #333333;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu ul li {
	float: right;
}
#menu ul li a {
	float: left;
	color: #fff;
	padding: 21px 30px;
	text-decoration: none;
	background: #333333;
	border-left: 2px solid #3c4042;
}
#menu a img {
	margin-top: 2px;
	margin-right: 2px;
	max-width: 13px;
}
#main-content{
	width: 100%;
	min-height: auto;
}
#side-menu{
	width: 30%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: lightpink;
}
.dalammenu {
	text-align: left;
	width: 100%;
	height: 100px;
}
.dalammenu h2 {
	font-size: 15px;
	font-weight: bold;
	color: black;
	margin-top: 90px;
	margin-left: 25px;
}
.dalammenu ul a {
	font-size: 15px;
	color: rgb(210, 88, 0);
	text-decoration: none;
}
.dalammenu ul a img {
	width: 50%;
}